/*
teals	blues	purples	pinks	oranges	yellows	greens	tealy greys
#000000	#000000	#000000	#000000	#000000	#000000	#000000	#000000
#00140F	#05141A	#0A0A1A	#1A050F	#1A0F0A	#1A1A00	#0A1A05	#0A0F0F
#00291F	#0A2933	#141433	#330A1F	#331F14	#333300	#14330A	#141F1F
#003D2E	#0F3D4C	#1F1F4C	#4C0F2E	#4C2E1F	#4C4C00	#1F4C0F	#1F2E2E
#00523D	#145266	#292966	#66143D	#663D29	#666600	#296614	#293D3D
#00664C	#1A6680	#333380	#801A4C	#804C33	#808000	#33801A	#334C4C
!007A5C	#1F7A99	#3D3D99	#991F5C	#995C3D	#999900	#3D991F	!3D5C5C
#008F6B	#248FB2	#4747B2	#B2246B	#B26B47	#B2B200	#47B224	#476B6B
#00A37A	#29A3CC	#5252CC	#CC297A	!CC7A52	#CCCC00	#52CC29	#527A7A
#00B88A	#2EB8E6	#5C5CE6	#E62E8A	#E68A5C	#E6E600	#5CE62E	#5C8A8A
#00CC99	#33CCFF	#6666FF	#FF3399	#FF9966	#FFFF00	#66FF33	#669999
#19D1A3	#47D1FF	#7575FF	#FF47A3	#FFA375	#FFFF19	#75FF47	#75A3A3
#33D6AD	#5CD6FF	#8585FF	#FF5CAD	#FFAD85	#FFFF33	#85FF5C	#85ADAD
#4DDBB8	#70DBFF	#9494FF	#FF70B8	#FFB894	#FFFF4D	#94FF70	#94B8B8
#66E0C2	#85E0FF	#A3A3FF	#FF85C2	#FFC2A3	#FFFF66	#A3FF85	#A3C2C2
#80E6CC	#99E6FF	#B2B2FF	#FF99CC	#FFCCB2	#FFFF80	#B2FF99	#B2CCCC
#99EBD6	#ADEBFF	#C2C2FF	#FFADD6	#FFD6C2	#FFFF99	#C2FFAD	#C2D6D6
#B2F0E0	#C2F0FF	#D1D1FF	#FFC2E0	#FFE0D1	#FFFFB2	#D1FFC2	#D1E0E0
#CCF5EB	#D6F5FF	#E0E0FF	#FFD6EB	#FFEBE0	#FFFFCC	#E0FFD6	#E0EBEB
#E6FAF5	#EBFAFF	#F0F0FF	#FFEBF5	#FFF5F0	#FFFFE6	#F0FFEB	#F0F5F5
#FFFFFF	#FFFFFF	#FFFFFF	#FFFFFF	#FFFFFF	#FFFFFF	#FFFFFF	#FFFFFF
*/

.test {
  /*color: #00B88A;*/
  color: #ADEBFF;
  /*#00A37A	#29A3CC	#5252CC	#CC297A	#CC7A52	#CCCC00	#52CC29	#527A7A;*/
}

#btn_start, #div_title {
  color: #fff;
  background-color: #277BA8;
  border-color: #005078;
}

#div_title {
  padding: 0.25em 2em;
  font-size: 2.5em;
}

.an3-info-container {
  padding: 0;
}

.an3-info {
  border-radius: 0.5em;
  border: 1em solid #ddd;
  border-top-width: 0;
  margin: 1em 0 1em 0;
}

.an3-dual .an3-info {
  margin-left: 1em;
}

.an3-info.an3-no-header {
  border-top-width: 1em;
}

.an3-network {
  padding: 0;
}

.an3-navbar {
  margin-bottom: 0;
}

ul.nav {
  margin: 0;
}

.an3-startup {
  margin-top: 1em;
}

.an3-info .panel-heading {
  margin: 0;
  background-color: #ddd;
  border-radius: 0;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.an3-panel-toolbar {
  padding: 0;
}

.an3-btn-danger:not(.active), .an3-btn-danger:not(.active):focus {
  color: #fff;
  background-color: #CC7A52;
  border-color: #B26B47;
}

.an3-btn-success:not(.active), .an3-btn-success:not(.active):focus {
  color: #fff;
  background-color: #00B88A;
  border-color: #00A37A;
}

.an3-btn-info:not(.active), .an3-btn-info:not(.active):focus {
  color: #fff;
  background-color: #3D5C5C;
  border-color: #293D3D;
}

.an3-entity-info .p:focus {

}

.an3-sub-tab-panel {
  margin-top: 2em;
}

.an3-sub-tab-panel a {
  color: #007A5C;
}

.an3-label {
  color: #007A5C;
  margin: 0.75em 0;
}

.an3-entity-info .an3-input:focus {
  outline: #CC7A52 dashed 1px;
}

.an3-sub-tab-panel .tab-pane {
  padding-top: 0.5em;
}

.btn-toolbar .btn-group {
  margin: 0;
}

.btn-toolbar {
  margin: 0;
}

.an3-btn-link {
  color: #007A5C;
}

.an3-btn-link.active {
  color: #fff;
  background-color: #00B88A;
  border-color: #00A37A;
  padding: 2px;
}

.an3-btn-link:hover {
  color: #fff;
  background-color: #00B88A;
  border-color: #00A37A;
  padding: 2px;
}

.an3-entity-info > .an3-input, .an3-entity-info > .an3-input-ignore, .an3-entity-info .an3-type-dropdown {
  margin-left: 1em;
}

.an3-entity-choice .col-xs-4 {
  text-align: center;
}

#link_dialog .an3-upfile {
  padding-left: 1em;
}

.an3-search-results a {
  color: #777;
  cursor: pointer;
  border-radius: 0;
  padding: 5px 10px;
}

#link_dialog .an3-search-results, #tag_dialog .an3-search-results {
  margin: 0.5em 0;
  height: 100px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  border-radius: 0.5em;
}

.an3-search-results {
  margin: 1em 0 0 0;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.an3-tag {
  margin: 0.25em;
  display: inline-block;
}

.an3-tag span:first-child {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 0.25em 0 0 0.25em;
}

.an3-tag span:last-child {
  top: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ccc
}

.an3-xs-link {
  position: relative;
  top: -1px;
  padding: 0 4px;
  font-size: 10px;
  line-height: 1.5;
  border-radius: 3px;
  color: #333;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #ccc;
}

.an3-xs-link:hover {
  background-color: #ccc;
  color: #fff;
}

.an3-xs-link.active {
  color: #fff;
  background-color: #00B88A;
  border-color: #00A37A;
}

.an3-toggle-visible {
  display: none;
}

.an3-tag-add {
  margin-top: 0.5em;
}

#tag_dialog .an3-search-string {
  margin-bottom: 0.5em;
}

#resource .an3-entity-info .an3-dropzone-row {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 10px;
}

#resource .an3-entity-info .an3-dropzone-container {
  padding-left: 1em;
}

.dropzone {
  text-align: center;
}

.dz-filename {
  position: relative;
  top: 10px;
}

.an3-dz-remove {
  /*margin-top: 10px;*/
  border-radius: 50%;
  /*float: right;*/
  z-index: 30;
  position: absolute;
  top: -.5em;
  right: -.5em;
}

.dz-filename span.an3-clickable, .an3-dz-remove.an3-clickable, .an3-dz-remove.an3-clickable * {
  cursor: pointer;
}

.an3-clickable, .an3-clickable * {
  cursor: pointer;
}

.dropzone.small-dropzone {
  min-height: 2em;
  max-height: 3em;
  padding: 5px;
}

.dropzone.small-dropzone .dz-message {
  margin: 0;
}

#filter_bar {
  width: 100%;
  padding: 0.25em;
  display: none;
}

#filter_footer {
  width: 100%;
  height: 0.25em;
}

#content_container {
  position: relative;
}

#filter_toggle {
  background-color: #535a5c;
  color: #fff;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  position: absolute;
  right: 3em;
  z-index: 100;
}

#filter_wrapper {
  background-color: #535a5c;
}

.an3-network-container {
  position: relative;
}

.an3-network-toolbar {
  position: absolute;
  left: 0;
  top: 0;
  margin: 1em;
  z-index: 100;
}

.an3-network-toolbar .btn {
  background-color: #ddd;
  color: #00B88A;
  border-color: #fff;
}

.an3-network-toolbar .btn.active {
  background-color: #aaa;
  color: #fff;
  border-color: #fff;
}

.twitter-typeahead {
  float: left;
  width: 100%
}

.input-group .twitter-typeahead .an3-search-string.form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.twitter-typeahead .tt-hint {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #aaa;
}

.twitter-typeahead .hint-small {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
  line-height: 1.5;
}

.twitter-typeahead .hint-large {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
  line-height: 1.33;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-cursor {
  background-color: #f5f5f5;
  cursor: pointer;
}

.tt-suggestion p {
  margin: 0;
}

#navbar li.active {
  background-color: #ddd;
}

.tooltip-inner {
  white-space: nowrap;
}

#help h1, #help h2, #help h3, #help h4, #help a {
  color: #007A5C;
}

#help a {
  text-decoration: underline;
}

#help h1 {
  font-size: 2em;
}

#help h2 {
  font-size: 1.75em;
}

#help h3 {
  font-size: 1.5em;
}

#help h4 {
  font-size: 1.25em;
}

.an3-concept-style {
  background-color: #00C799;
  border-color: #999999;
  color: #000000;
  font-weight: normal;
}

.an3-collection-style {
  background-color: #DF8D52;
  border-color: #999999;
  color: #000000;
  font-weight: normal;
}

.an3-resource-style {
  background-color: #5CE62E;
  border-color: #999999;
  color: #000000;
  font-weight: normal;
}

.an3-tag-style {
  background-color: #FFFF4D;
  border-color: #999999;
  color: #000000;
  font-weight: normal;
}

.an3-type-style {
  background-color: #ADADAD;
  border-color: #999999;
  color: #000000;
  font-weight: normal;
}

.an3-help-diagram {
  max-width: 100%;
  max-height: 30em;
}

/*#help .badge{*/
/*color: #000000;*/
/*}*/

#loading_modal .modal-body {
  text-align: center;
}

.jumbotron {
  background: url("../img/emblemonly.png") right no-repeat #D0FDFD;
}

.text-nowrap {
  white-space: nowrap;
}